.container {
  display: flex;
  align-items: center;
  gap: 300px;
}

.App {
  text-align: center;
  flex: 1;
}

h3 {
  margin: 0 0 5px 0;
}

.seat-container {
  display: grid;
  grid-template-columns: repeat(7, 40px);
  justify-content: center;
  row-gap: 12px;
  column-gap: 6px;
  padding: 10px;
  background-color: white;
  border-radius: 8px;
}

.seat {
  border-radius: 8px;
  background-color: rgb(26, 156, 26);
  color: black;
}

.seat.booked,
.booked {
  background-color: rgb(231, 209, 11);
}

.bookedSeats {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bookedSeatNumbers {
  flex: 1;
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 8px;
}

.bookedSeatNumbers > div {
  width: 40px;
  height: 24px;
}

.info {
  display: flex;
  gap: 8px;
  margin-top: 10px;
}

.info .seat {
  flex: 1;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 2px;
}

.controls {
  flex: 1;
}

.controls p {
  font-weight: bold;
  margin: 0 0 5px 0;
  text-align: left;
  white-space: nowrap;
}

.inputFldAndBookBtn {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.inputFldAndBookBtn button {
  width: 30%;
}

input {
  flex: 1;
  padding: 8px;
  border: 1px solid rgb(71, 130, 255);
  border-radius: 5px;
}

button {
  padding: 5px 30px;
  margin: 0;
  border-radius: 5px;
  background-color: rgb(71, 130, 255);
  color: white;
}

.resetBtn {
  width: 100%;
  margin-top: 10px;
}

.logoutBtn {
  width: 100%;
  margin-top: 10px;
  background-color: rgb(249, 91, 91);
}

.error {
  color: red;
  margin-top: 10px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove number input arrows - Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@media (max-width: 1200px) {
  .container {
    gap: 200px;
  }
}

@media (max-width: 992px) {
  .container {
    gap: 80px;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 25px;
  }

  .controls {
    width: 100%;
  }
}
